[submodule "hddcoin-blockchain-gui"]
	path = hddcoin-blockchain-gui
	url = https://github.com/HDDcoin-Network/hddcoin-blockchain-gui.git
	branch = pools
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
[submodule "hddcoin-light-gui"]
	path = hddcoin-light-gui
	url = https://github.com/zcomputerwiz/hddcoin-light-gui/
	branch = NEXT
